.friend-requests-container {
    background-image: url('../../public/all_background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 15px 25px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    transition: transform 0.2s ease;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    transform: scale(1.05);
}

button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

button:active {
    background-color: #004494;
    transform: translateY(1px);
}
